@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  color: black;
  background: var(--background);
  font-family: "newsreader", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: white; /* light mode background */
}
